applauncher==1.42
APScheduler==3.5.3
apscheduler-bundle==1.1.2
blinker==1.4
Cerberus==1.2
googleapis-common-protos==1.5.5
grpcio==1.16.0
grpcio-tools==1.16.0
Inject==3.4.0
libclang-py3==3.9.0
mapped-config==2.34
numpy==1.15.4
pkg-resources==0.0.0
protobuf==3.6.1
PyOpenGL==3.1.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
PySide2==5.11.2
pytz==2018.7
PyYAML==3.12
six==1.11.0
tzlocal==1.5.1
